@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --main-bgc: rgb(219, 221, 223);
    --secondary-bgc: white
    ;
    --standout-color: rgb(39 60 73);
    --border-shadow: #9a9b9c;
    --complementary-color: #FFBF69;
    --text-color: whitesmoke;

}

html, body {
    font-family: "Open Sans", sans-serif;
    min-height: 100vh;
}

svg {
    width: 1.5rem;
    vertical-align: middle;
}
svg path {
    fill: var(--text-color);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 4px 0;
}

h1{
    font-size: 30px;
    text-shadow: 2px 2px 2px var(--border-shadow);
}

.container {
    /* remove heigh/width when needed */
    background-color: var(--main-bgc, white);
    display: grid;
    min-height: 100vh;
    /* Look at alternative ways for sizing */
    grid-template-columns: minmax(200px, 250px) 1fr;
    grid-template-rows: 130px 1fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

/* -----  HEADER -----  */

header {
    background-color: var(--secondary-bgc);
    grid-area: header;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
    box-shadow: 0px 3px 3px var(--border-shadow);
}

.user-greeting {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 12px;
    grid-column: 1/2;
    grid-row: 1/2
}

.user-greeting svg {
    grid-column: 1/2;
    width: 100px;
    place-self: center;
}

.user-logo-border {
    border: black solid 4px;
    border-radius: 50px;
    padding: 2px
}

.user-name {
    font-size: 2rem;
    display: block;
}

header .btn-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

/* Add as SVG, Add github link */
.action-buttons {
    justify-self: end;
}

.action-buttons svg path {
    fill: black
}


.admin-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
}

/* Rename to container */
.admin-buttons button {
    align-self: end;
    border-radius: 0.75rem;
    padding: 0.2rem;
    border: none;
    color: var(--text-color); 
    background-color: var(--standout-color);
}


/*  ----- SIDEBAR -----  */
/* Rename to leftside-navigation bar */
.sidebar {
    grid-area: sidebar;
    background-color: var(--standout-color);
    display: grid;
    grid-template-rows: 15vh 25vh 25vh;
    grid-template-columns: minmax(200px, 250px);
    align-items: start;
    align-content: start;
    padding: 0 15px;
}

.logo {
    color: var(--text-color);
}

.logo svg {
    width: 3em;
}

.sidebar a:link, 
.sidebar a:visited {
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1em
}

.sidebar a:hover {
    font-size: 1.2em;
    transform: scale(1.1);
    transition: all 500ms;
}

/* -----  MAIN CONTENT ----- */

main {
    grid-area: main;

    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
    padding: 12px
}

.projects {
    grid-column: 1/2;
    padding: 12px;
    display: grid;
    grid-template-rows: 5vh 1fr;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.projects h2 {
    grid-column: 1/-1;
    align-self: center;
}

.project-actions {
    display: flex;
    justify-content: end;
}

.card {
    border-radius: 5px;
    padding: 1em;
    align-self: start;
    background-color: var(--secondary-bgc);
    box-shadow: 5px 5px 5px var(--border-shadow);
}

.projects .card {
    border-left: 5px solid var(--complementary-color);
}

/* Side-cards */
.side-card-container {
    display: flex;
    flex-direction: column;
    padding: 0 12px;
    margin-left: auto;
    font-size: 14px;
    width: 90%;
}

.trending li {
   display: flex;
   gap: 5px;
}

.user-tag {
    font-weight: 700;
}

.topic {
    display: block;
}


